/* Css reset */
body {
  margin: 0px;
  padding: 0;
  background: grey;
  color: white;
  height: 1400px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.navbar {
  display: inline-block;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 255px;
}

.nav_bar {
  top: 30px;
  display: block;
  width: 50%;
  margin: 25px auto;
  display: inline-block;
  position: absolute;
  right: 45px;
  top: 45px;
  margin: 0px;
}
.navbar li {
  display: inline-block;
  font-size: 25px;
}
.navbar li a {
  text-decoration: none;
  color: antiquewhite;
  padding: 34px 20px;
}
.navbar li a:hover,
.navbar li a.active {
  color: rgb(255, 0, 30);
}
.logo img {
  width: 200px;
  margin: 20px auto;
  filter: invert(100%);
}
