/* Css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  line-height: 1.6;
  background: #222;
  padding: 20px 0;
  backdrop-filter: blur(30px);
}

.logo {
  display: inline;
  position: relative;
  top: 20px;
  left: 100px;
}

.nav_bar {
  top: 30px;
  display: flex;
  max-width: 70%;
  margin: 25px 35px;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  right: 30px;
  top: 35px;
  margin: 1px;
  gap: 2rem;
}
.navbar li {
  display: inline-block;
  font-size: 25px;
}
.navbar li a {
  text-decoration: none;
  color: antiquewhite;
  padding: 34px 20px;
}
.navbar li a:hover,
.navbar li a.active {
  color: rgb(255, 0, 30);
}
.logo img {
  max-width: 100px;
  padding: 9px 18px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.logo a {
  position: absolute;
  font-size: 2rem;
  color: antiquewhite;
  padding: 27px 10px;
  text-decoration: none;
}
.btn {
  padding: 10px 32px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.header__content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 6rem;
  color: white;
}
.header__content p {
  margin-bottom: 20px;
  color: rgb(208, 141, 16);
}
.header__image {
  position: relative;
}
.header__image img {
  max-width: 350px;
  margin: auto;
}

.section_container {
  background: rgba(56, 44, 44, 0.386);
  backdrop-filter: blur(300px);
  color: #fff;
}
.footer {
  display: flex;
  margin: 2px;
}

.footer_logo {
  max-width: 100px;
  padding: 9px 18px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  left: 15px;
  width: 30%;
  margin: 2px;
}
footer p {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
}
