/* Css reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body h1,
body h2,
body h3,
body h4 {
  margin: 0;
}
body p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
footer {
  padding: 2rem 0;
  color: #222;
}

section {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: flex;
}

html,
body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #110e0e;
  background-color: #222;
  justify-content: center;
  align-items: center;
}

#section_container {
  background-image: url(/img/headerimg.avif);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header__container {
  position: relative;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  justify-content: space-between;
  display: inline-block;
}
#second_container {
  text-align: center;
  padding: 3px;
}

.logo {
  display: flex;
  align-items: center;
  left: 100px;
  position: absolute;
  float: left;
  margin: 0;
}
nav {
  position: relative;
  display: grid;
}

.nav_bar {
  float: right;
  max-width: 900px;
  margin: auto;
  margin-left: 700px;
  position: relative;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar li {
  display: inline;
  font-size: 3rem;
  align-items: center;
}
.navbar li a {
  position: relative;
  padding-bottom: 0.75rem;
  color: white;
}
.navbar li a:hover,
.navbar li a.active {
  color: rgb(255, 0, 30);
}
.logo img {
  max-width: 140px;
  height: auto;
  padding-left: 0;
  display: block;
  padding-right: 35;
}
.logo a {
  position: sticky;
  font-size: 3rem;
  color: antiquewhite;
  padding: 10px 10px;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn {
  outline: none;
  color: white;
  background-color: red;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
btn:hover {
  background: #c00;
}
#btn1 {
  margin-bottom: 30px;
}
.header__content {
  margin-left: 100px;
}
.header__content h1 {
  margin-bottom: 1rem;
  justify-content: flex-start;
  padding-left: 15px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  color: white;
  max-width: 750px;
}
.header__content p {
  margin-bottom: 20px;
  padding-left: 15px;
  max-width: 750px;
  color: rgb(208, 141, 16);
  display: flex;
  font-size: 2rem;
}
.playbtn {
  color: #ccc;
}
.btns {
  padding-left: 30px;
}
.stats-section {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  margin-left: 100px;
  color: #fff;
  text-align: center;
}

.stat-item {
  border-right: 1px solid #555;
  padding: 0 2rem;
}

.stat-item:last-child {
  border-right: none;
}

.stat-item h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.stat-item p {
  font-size: 2rem;
  color: #aaa;
}

.section_container {
  background: rgba(56, 44, 44, 0.386);
  backdrop-filter: blur(300px);
  color: #fff;
}
.footer {
  display: flex;
}

.footer_logo {
  max-width: 100px;
  padding: 9px 18px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  left: 15px;
  width: 30%;
  margin: 2px;
}
footer p {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 050px;
}
footer {
  background: linear-gradient(to right, #111, #222);
  text-align: center;
  top: 0px;
  color: #ccc;
  position: relative;
}

footer a {
  color: #e63946;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.second_container {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #222;
  color: #555;
  margin-bottom: 0px;
}

.subcontainer {
  background-color: #222;
  margin-bottom: 0px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.subcontainer img {
  max-width: 600px;
  margin-left: 100px;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.subheading1 {
  max-width: 50%;
}
.subheading {
  max-width: 70%;
  display: inline-block;
  color: #ccc;
  font-size: 4.5rem;
  font-weight: 600;
  align-items: center;
  text-align: justify;
  padding-left: 70px;
  margin-left: 40px;
}

.fitness-goals {
  max-width: 70%;
  display: flexbox;
  font-size: 2rem;
  margin-left: 70px;
  padding-left: 40px;
  color: #ccc;
}

#btn_free_trial {
  margin-left: 110px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subheading2 {
  display: inline-block;
  color: #ccc;
  font-size: 4.5rem;
  font-weight: 600;
  align-items: center;
  max-width: 42%;
  padding-left: 70px;
  margin-left: 40px;
  margin-top: 20px;
}

.subpara1 {
  max-width: 45%;
  display: grid;
  font-size: 2rem;
  margin-left: 100px;
  padding-left: 40px;
  color: #ccc;

  margin-top: 20px;
  align-items: center;
}
.services,
.pricing {
  background-color: #222;
  color: #ccc;
  text-align: center;
}

.section-title {
  padding: 60px 20px;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: #e63946;
}

.service-item h3 {
  font-size: 2.5rem;
  margin: 15px 15px 15px 15px;
}
.service-item,
.pricing-item {
  background: #363434;
  margin: 45px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: inline-block;
  width: 300px;
}

.pricing-item span {
  font-size: 2.5rem;
}
.service-item,
.pricing-item P {
  font-size: 1.5rem;
  margin: 2px;
}

.service-item:hover,
.pricing-item:hover {
  transform: translateY(-10px);
  background-color: orangered;
}
.pricing-item ul li {
  margin: 5px;
  padding: 5px;
}
.btn_pricing {
  outline: #110e0e;
  color: white;
  background: #363434;
  transition: 0.3s;
  border-radius: 30px;
  padding: 8px 8px 8px 8px;
  align-items: center;
  margin: 20px 20px 20px 55px;
  position: relative;
  z-index: 2;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btn_pricing:hover {
  cursor: pointer;
  background-color: #fff;
  color: orangered;
}
.why-choose-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background: #333; /* Card background */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.content {
  max-width: 50%;
}

.features-list {
  list-style: none;
  margin-bottom: 20px;
}

.features-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.icon {
  font-size: 1.5rem;
  color: #f00;
  margin-right: 15px;
}

.features-list h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.features-list p {
  font-size: 2rem;
  color: #ccc;
  text-align: left;
}

.join-button {
  background: #f00;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  5pxtransition: background 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.join-button:hover {
  background: #c00;
}

.image-container {
  position: relative;
  max-width: 60%;
  text-align: center;
}

.person-image {
  width: 400px;
  border-radius: 50%;
  max-height: 450px;
  background: #ff5722;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.stats {
  position: absolute;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.heart-rate {
  top: 20%;
  right: -10%;
  display: inline;
}

.flat-burning {
  bottom: 10%;
  left: -10%;
}

.stats span {
  font-size: 1.5rem;
}

.stats p {
  margin-top: 5px;
  font-size: 0.9rem;
}
.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 100%;
  margin: 0 auto;
  background: #222;
  border-radius: 10px;
  line-height: 4rem;
  color: #ccc;
  padding: 60px 20px;
}

blockquote {
  background: #333;
  padding: 10px;
  margin: 10px auto;
  color: #fff;
  max-width: 600px;
  font-style: italic;
  border-left: 3px solid #e63946;
}
.section_client_review {
  position: relative;
  display: grid;
  background: #222;
  padding: 10px;
}
blockquote cite {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #e3192a;
  font-weight: bold;
}
.footer_ {
  background: #222;
}

.footer_container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #222;
  color: #ccc;
}

.footer-section {
  margin-right: 2rem;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.newsletter input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 3px;
  margin-right: 1rem;
}
